* {
    box-sizing: border-box;
    margin: 0 0;
    padding: 0 0;
}

.wrapper {
    max-width: 1200px;
    min-height: 100px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .08);
    display: flex;
    flex-direction: column;
    align-items: center;

}

#rect {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    background-color: black;
}

button {
    padding: 5px;
}

.buttons {
    padding: 10px;
}

.buttons button {
    margin: 5px;
}

.hidden {
    opacity: 0;
}

.rect-wrapper {
    display: flex;
    justify-content: space-around;
}

.rect {
    display: block;
    width: 100px;
    height: 100px;
    margin: 10px 5px;
    background-color: black;
}

.block {
    display: flex;
}

.box {
    margin: 5px;
    width: 50px;
    height: 50px;
    background-color: silver;
}

#block {
    margin: 5px;
    width: 50px;
    height: 50px;
    background-color: orange;
}

input {
    width: 200px;
}

#block-2 {
    margin: 5px;
    width: 50px;
    height: 50px;
    background-color: red;
}

#rect-2 {
    margin: 5px;
    width: 50px;
    height: 20px;
    background-color: green;
    opacity: 0;
}

textarea {
    width: 250px;
    height: 50px;
}

.mouse_coordinate, .geo-wrapper {
    width: 210px;
    height: 30px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .08);
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    padding: 5px;
}

#userLanguage, #latitude {
    margin-right: 10px;
}

.geo-wrapper {
    top: 35px;
}

.back_to_top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    text-align: center;
    line-height:30px;
    background: silver;
    cursor: pointer;
    border-radius: 2px;
    display: none;
}

.back_to_top:hover {
    background:cornflowerblue;
}

.back_to_top-show {
    display: block;
}

#big-block {
    margin: 5px;
    width: 150px;
    height: 150px;
    background-color: red;
    display: flex;
    justify-content: center;

    align-items: center;
}

#small-block {
    width:50%;
    height: 50%;
    background-color: black;
}
