* {
    box-sizing: border-box;
    margin: 0 0;
    padding: 0 0;
}

.wrapper {
    max-width: 1200px;
    min-height: 100px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .08);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#rect {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    background-color: black;
}

button {
    padding: 5px;
}

.buttons {
    padding: 10px;
}

.buttons button {
    margin: 5px;
}

.hidden {
    opacity: 0;
    transition: opacity 0.5s;
}

.rect-wrapper {
    display: flex;
    justify-content: space-around;
}

.rect {
    display: block;
    width: 100px;
    height: 100px;
    margin: 10px 5px;
    background-color: black;
    align-items: center;
}

.block {
    display: flex;
}

.box {
    margin: 5px;
    width: 50px;
    height: 50px;
    background-color: silver;
    text-align: center;
    padding-top: 4.5%; /*Костыль*/
}

#block {
    margin: 5px;
    width: 50px;
    height: 50px;
    background-color: orange;
}


#block-2 {
    margin: 5px;
    width: 50px;
    height: 50px;
    background-color: red;
}

#rect-2 {
    margin: 5px;
    width: 50px;
    height: 20px;
    background-color: green;
    opacity: 0;
}

textarea {
    width: 250px;
    height: 50px;
}

.mouse_coordinate, .geo-wrapper {
    width: 230px;
    height: 30px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .08);
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    padding: 5px;
}

#userLanguage, #latitude {
    margin-right: 10px;
}

.geo-wrapper {
    top: 35px;
}

.back_to_top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    text-align: center;
    line-height: 30px;
    background-color: lightblue;
    cursor: pointer;
    border-radius: 2px;
    display: none;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    color: #4A4A4A;
}

.back_to_top:hover {
    color: black;
    background-color: #95d1ea;
}

.back_to_top-show {
    display: block;
}

.save_wrapper {
    display: flex;
    justify-content: space-around;
}

.save-store {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .08);
    width: 200px;
    padding: 5px;
    margin: 0 5px;
    text-align: center;
    border: 1px solid silver;
}


#big-block {
    margin: 5px;
    width: 150px;
    height: 150px;
    background-color: red;
    display: flex;
    justify-content: center;

    align-items: center;
}

#small-block {
    width: 50%;
    height: 50%;
    background-color: black;
}


.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.not_scroll_box {
    width: 100%;
    height: 100%;
    background-color: silver;
    opacity: 0.5;
    position: fixed;
}

/**/

.label-wrapper {
    display: flex;
}


.input-text-wrapper {
    width: 250px;
    height: 50px;
    padding-left: 5px;
    border: 1px solid lightblue;
    display: flex;
    align-items: center;
    font-family: Roboto, sans-serif;
 }

.label-input {
    background-color: lightblue;
    color: #1d1b1b;
    position: relative;
    width: 250px;
    height: 50px;
}

input, button:hover {
    cursor: pointer;
}

.label-wrapper:hover {
    box-shadow: 0 0 10px 0 #95d1ea;

}

.label-input input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.inner-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
}

.inner-wrapper img {
    margin-right: 8px;
}

.dragover {
    background-color: #95d1ea;
}


