* {
    box-sizing: border-box;
}

.wrapper {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .08);
    width: 1200px;
    height: 600px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rect-wrapper {
    display: flex;
    justify-content: space-around;
}
.rect{
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 5px;
    background-color: black;
}

.buttons {
   margin: 10px;
}

.hidden {
    opacity: 0;
}